* {
  margin: 0;
  padding: 0;
  outline: none; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

body {
  font: 400 14px/1.1 "Helvetica Neue UltraLight", Arial, sans-serif;
  background: url("../img/background.png");
  background-size: cover; }

.wrapper {
  margin: auto;
  width: 77%;
  height: 100%; }

@font-face {
  font-family: 'Helvetica Neue UltraLight';
  src: url("../fonts/helveticaneuecyr-ultralight.woff") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  margin: auto;
  width: 93%;
  position: relative; }
  .container:after {
    content: '';
    clear: both;
    display: block; }

.header .container .header_item {
  margin: 9% 0 0 0; }
  .header .container .header_item span {
    font-size: 4.6em;
    color: white; }
  .header .container .header_item .header_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 8.5% -.6% 0 0; }
    .header .container .header_item .header_menu a {
      display: inline-block;
      width: 15.4%;
      margin: 0 1% 0.2% 0;
      padding: 3.5% 0 0% 0;
      background-color: orange;
      font-family: "Helvetica Neue UltraLight", Arial, sans-serif;
      font-size: 1.25em;
      color: white; }
      .header .container .header_item .header_menu a i {
        font-family: FontAwesome;
        width: 100%;
        text-align: center;
        font-size: 3.5em;
        margin-top: 0.1em;
        padding-bottom: 1%; }
      .header .container .header_item .header_menu a p {
        margin: 14.4% 0 -6% 7%;
        padding-bottom: 2%; }
    .header .container .header_item .header_menu a:nth-child(1) {
      background-color: #3387ea; }
      .header .container .header_item .header_menu a:nth-child(1):hover {
        background: #5ea3f5; }
      .header .container .header_item .header_menu a:nth-child(1):active {
        background: blue;
        width: 15%;
        margin-right: 1.4%; }
    .header .container .header_item .header_menu a:nth-child(2) {
      background-color: #f9be3e; }
      .header .container .header_item .header_menu a:nth-child(2):hover {
        background: #fdd274; }
      .header .container .header_item .header_menu a:nth-child(2):active {
        background: #ff9600;
        width: 15%;
        margin-right: 1.4%; }
    .header .container .header_item .header_menu a:nth-child(3) {
      width: 29%;
      background-color: #d3573e; }
      .header .container .header_item .header_menu a:nth-child(3):hover {
        background: #fe7e65; }
      .header .container .header_item .header_menu a:nth-child(3):active {
        background: #fc2a00;
        width: 28.5%;
        margin-right: 1.5%;
        padding-bottom: 0.05%; }
      .header .container .header_item .header_menu a:nth-child(3) p {
        margin: 7% 0 0 4%; }
    .header .container .header_item .header_menu a:nth-child(4) {
      background-color: #59b0e2; }
      .header .container .header_item .header_menu a:nth-child(4):hover {
        background: #a3cae1; }
      .header .container .header_item .header_menu a:nth-child(4):active {
        background: #43baff;
        width: 15%;
        margin-right: 1.4%; }
    .header .container .header_item .header_menu a:nth-child(5) {
      background-color: #33af95; }
      .header .container .header_item .header_menu a:nth-child(5):hover {
        background: #67c9b4; }
      .header .container .header_item .header_menu a:nth-child(5):active {
        background: #0aa484;
        width: 15%; }

.main .container .main_item {
  margin-top: 1%; }
  .main .container .main_item .main_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .main .container .main_item .main_menu a {
      width: 32%;
      margin: 0 1% 0 0;
      padding: 0 0 .5%;
      background-color: #86a73f;
      font-size: 1em; }
      .main .container .main_item .main_menu a:nth-child(1):hover {
        background: #bfe372; }
      .main .container .main_item .main_menu a:nth-child(1):active {
        background: #5e7a1b;
        width: 31.5%;
        margin-right: 1.5%; }
      .main .container .main_item .main_menu a:nth-child(1) i {
        font-size: 6.5em;
        margin: 6.6% 0 4% 0; }
      .main .container .main_item .main_menu a:nth-child(3) {
        margin: 0;
        width: 15.5%;
        background-color: #7e5b8c; }
        .main .container .main_item .main_menu a:nth-child(3):hover {
          background: #bc8bd0; }
        .main .container .main_item .main_menu a:nth-child(3):active {
          width: 1%;
          margin-right: 1.4%;
          background: #4f325b;
          padding-bottom: 0.01%; }
      .main .container .main_item .main_menu a i {
        width: 100%;
        margin: 7.5% 0 12%;
        text-align: center;
        font-size: 4.5em;
        color: #fff; }
      .main .container .main_item .main_menu a .fa {
        padding: 13% 0 8%; }
      .main .container .main_item .main_menu a p {
        margin: 0 0 0 4.5%;
        font-size: 1.25em;
        color: white; }
  .main .container .main_item .two {
    width: 45.7%;
    margin-right: 1%;
    background: url("../img/nouncy.png") no-repeat;
    background-color: #151a26;
    background-size: contain; }
    .main .container .main_item .two p {
      margin: 3% 0 0 40%;
      text-align: left;
      font-size: 0.9em;
      letter-spacing: 0.012em;
      color: #fff; }
      .main .container .main_item .two p:nth-child(1) {
        font-size: 1.1em; }
      .main .container .main_item .two p:nth-child(3) {
        font-size: .7em; }

.footer .container .footer_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer .container .footer_item .footer_links {
    width: 50%; }
    .footer .container .footer_item .footer_links a {
      width: 13%;
      margin-left: 0.7%;
      margin-right: 13.5%;
      display: inline-block;
      font-size: 6.7em; }
    .footer .container .footer_item .footer_links i {
      margin-top: 1%;
      background-color: white;
      background: -webkit-gradient(linear, left bottom, left top, from(#162a60), color-stop(7%, #162a60), color-stop(7%, #fff), color-stop(96%, #162a60));
      background: -webkit-linear-gradient(bottom, #162a60 0%, #162a60 7%, #fff 7%, #162a60 96%);
      background: linear-gradient(to top, #162a60 0%, #162a60 7%, #fff 7%, #162a60 96%);
      -webkit-border-radius: 100%;
              border-radius: 100%;
      color: #004088; }
    .footer .container .footer_item .footer_links .fa-facebook-official {
      color: #004088; }
    .footer .container .footer_item .footer_links .fa-twitter-square {
      color: #02abe3; }
    .footer .container .footer_item .footer_links .fa-google-plus-square {
      color: #f04623; }
  .footer .container .footer_item .footer_message {
    width: 50%;
    margin-top: 5.3%;
    margin-right: 5%; }
    .footer .container .footer_item .footer_message p {
      text-align: right;
      font-size: 1em;
      color: white; }

@media (max-width: 1920px) {
  .container .header_item .header_menu a:active {
    margin-bottom: 0.2%; }
  .main .container .main_item .main_menu a:nth-child(3):active {
    width: 15.4%;
    margin-bottom: 0.5%; } }

@media (max-width: 1600px) {
  .container .header_item .header_menu a:active {
    margin-bottom: 0.197%; }
  .main .container .main_item .main_menu a:nth-child(3):active {
    width: 15.4%;
    margin-bottom: 0.50%; } }

@media (max-width: 1270px) {
  .container .header_item .header_menu a:nth-child(3):active {
    margin-bottom: 0.195%; } }

@media (max-width: 890px) {
  body {
    font-size: 13px; }
  .wrapper {
    width: 93%; }
  .container {
    width: 97%; }
  .footer .container .footer_item .footer_links a {
    margin-right: 10%; } }

@media (max-width: 770px) {
  body {
    font-size: 12px; }
  .wrapper {
    width: 97%; }
  .container {
    width: 97%; }
  .footer .container .footer_item .footer_links a {
    margin-right: 10%; } }

@media (max-width: 675px) {
  body {
    font-size: 10px; }
  .wrapper {
    width: 93%; }
  .container {
    width: 97%; }
  .footer .container .footer_item .footer_links a {
    margin-right: 12%; } }

@media (max-width: 500px) {
  body {
    font-size: 10px; }
  .wrapper {
    width: 100%; }
  .container {
    width: 100%; }
  .header .container .header_item .header_menu a:nth-child(5) {
    width: 20%; }
    .header .container .header_item .header_menu a:nth-child(5):active {
      width: 20%; }
  .main .container .main_item .main_menu a:nth-child(3) {
    width: 20%; }
    .main .container .main_item .main_menu a:nth-child(3):active {
      width: 18.9%;
      margin-bottom: 0.01%; }
  .footer .container .footer_item .footer_links a {
    font-size: 4em;
    padding: 0 0 0 5%; } }
